*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

#preloader{
    width: 100%;
    height: 100vh;
    background-color: #f1f2f3;
    background-image: url('/assets/preloader.svg');
    background-repeat: no-repeat;
    background-position: center;
    z-index: 10;
}

.navbar{
    display: flex;
    position: sticky;
    top: 0;
    z-index: 10;
    justify-content: center;
    background-color: rgb(226, 32, 80);
    padding: 0.6rem 0;
}

ul li{
    display: inline-block;
    list-style: none;
}


a{
    text-decoration: none;
    color: white;
    margin: 2rem;
    font-size: 30px;
    font-family: 'Yanone Kaffeesatz', sans-serif;
}

a:hover{
    padding: 5px 10px;
    border: 1px solid #ccc;
    transition: 0.5s;
    background-color: seashell;
    border-radius: 5px;
    color: slateblue;
    opacity: 0.8;
}

.heading{
    padding-top: 20px;
    text-align: center;
    font-size: 25px;
    color: rgba(240, 134, 14, 0.897);
    font-family: 'Raleway', sans-serif;
    background-color:#D8F8F8;
}

.heading span{
    color: #000000;
    font-size: 50px;
    font-family: 'Pacifico', cursive;
}

.educator {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height:78vh ;
    background-color:#D8F8F8;
}


.board{
    display: flex;
    position: relative;
    background: url('/assets/board.png') center center/cover no-repeat;
    width: 750px;
    height: 500px;
    font-weight: bolder;
    font-family: 'Pacifico', cursive;
    box-shadow: 10px 10px 10px 0px #999;
    border-radius: 15px;
}

h4{
    font-size: 30px;
    color: black;
    background-color: #D8F8F8;
    font-family: 'Pacifico', cursive;
}
.far{
	color: black;
	font-size: 45px;
}

/* #first{
    height: 100vh;
    top: 100px;
    left: 100px;
} */

/* img{
    height: 110vh;
    width: 100%;
}*/

#canvas{
    position: absolute;
    top: 52%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    box-shadow: 10px 10px 20px 0 #999;
    border-radius: 10px;
    height: 600px;
}

.canvas{
    background-color: rgb(132, 144, 155);
    height: 100vh;
}



