*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    background-color:#D8F8F8;
    scroll-behavior: smooth;
}
#preloader{
    width: 100%;
    height: 100vh;
    background-color: #f1f2f3;
    background-image: url('/assets/preloader.svg');
    background-repeat: no-repeat;
    background-position: center;
    z-index: 10;
}

.navbar{
    display: flex;
    position: sticky;
    top: 0;
    z-index: 10;
    justify-content: center;
    background-color: rgb(226, 32, 80);
    padding: 0.6rem 0;
}

ul li{
    display: inline-block;
    list-style: none;
}


a{
    text-decoration: none;
    color: white;
    margin: 2rem;
    font-size: 30px;
    font-family: 'Yanone Kaffeesatz', sans-serif;
}


.heading{
    margin-top: 2rem;
    text-align: center;
    font-size: 25px;
    color: rgba(240, 134, 14, 0.897);
    font-family: 'Raleway', sans-serif;
}

.educator {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 90vh ;
}

#first, #second{
    height: 100vh;
    color: white;
}

.board{
    display: flex;
    position: relative;
    background: url('/assets/board.jpg') center center/cover no-repeat;
    width: 750px;
    height: 500px;
    font-family: 'Pacifico', cursive;
}

#first{
    background-color: lightcoral;
}

#second{
    background-color: lightgreen;
}


